* {
    box-sizing: border-box;
}


body {
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    background-color: #F7B32B;
}

.header {
    color: #fff;
    animation-name: pulse;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .75s;
}
.header h1:hover, button:hover {
    animation-name: pulse;
    -webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-duration: .50s;
}

.main-game {
    display: flex;
    flex-wrap: wrap;
}

.overlay {
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 5px;
}

#canvas-container {
    height: 620px;
    position: relative;
    margin: auto;
}

.start-game {
    font-family: 'Alegreya', serif;
    position: absolute;
    background-color: #D4F4DD;
    border-radius: 5px; 
    left: 0;
    right: 0;
    top: 153px;
    width: 420px;
    height: 410px;
    margin: 0 auto;
    padding: 1em 2em;
}

.start-game h1, h3, h4 {
    font-weight: bold; 
}

.start-game h4 {
    color: #E3170A;
}

.start-game button {
    background-color: royalblue;
    border: none;
    border-radius: 3px;
    padding: 7px 15px;
    font-size: 20px;
    color: #fff;
}

.hide {
	visibility: hidden;
	opacity: 0 !important;
}
.show {
	visibility: visible !important;
	opacity: 1 !important;
}

.game-over {
    font-family: 'Alegreya', serif;
    position: absolute;
    background-color: #990005;
    border-radius: 5px; 
    left: 0;
    right: 0;
    top: 153px;
    width: 347px;
    height: 303px;
    margin: 0 auto;
    padding: 3em 3em;
    color: #fff;
    visibility: hidden;
}

.game-over button {
    background-color: royalblue;
    border: none;
    border-radius: 3px;
    padding: 7px 15px;
    font-size: 20px;
    color: #fff;
    margin-top: 2em;
}

.winner {
    font-family: 'Alegreya', serif;
    position: absolute;
    background-color: #0D4B9B;
    border-radius: 5px; 
    left: 0;
    right: 0;
    top: 153px;
    width: 347px;
    height: 303px;
    margin: 0 auto;
    padding: 3em 3em;
    color: #fff;
    visibility: hidden;
}

.winner button {
    background-color: #D62246;
    border: none;
    border-radius: 3px;
    padding: 7px 15px;
    font-size: 20px;
    color: #fff;
    margin-top: 2em;
}

/* animations  */
@keyframes pulse {
	from {
		transform: scale3d(1, 1, 1);
	}

	50% {
		transform: scale3d(1.1, 1.1, 1.1);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

.learning {
    padding: 5px;
    margin: 20px auto;
    width: 90vw;
    max-width: 900px;
}

.learning #message-box {
    padding: 5px;
    background: #fff;    
    height: 50px;
    border: 3px inset black;
}

.learning button {
    cursor: pointer;
    border: none;
    border-radius: 3px;
    padding: 7px 15px;
    font-size: 20px;
}

button[disabled] {
    cursor: not-allowed;
    background-color: #aaaaaa;
}

.train {
    padding: 20px;
}

.train .train-btn {
    margin: 10px 0px;
}

#begin-training {
    display: block;
    background: #222222;
    color: white;
    margin: 30px auto;
    padding: 10px 60px;
}


.learning #start-btn {
    display: block;
    margin: 30px auto;
    background-color: #990005;
    color: #fff;
    transition: 500ms transform;
    will-change: transform;
}
.controls #start-btn.pressed {
    background-color: #74070a;
    transform: translateY(6px);
}
.learning #start-btn[disabled] {
    background-color: #aaaaaa;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

/* Separate rule for compatibility, :focus-within is required on modern Firefox and Chrome */
input.visually-hidden:focus + label {
    outline: thin dotted;
}
input.visually-hidden:focus-within + label {
    outline: thin dotted;
}

label {
    background-color: royalblue;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    padding: 3px 15px;
    display: inline-block;
    margin-top: 10px;
    font-size: 20px;
    color: #fff;
}

@media screen and (min-width: 1024px) {
    #canvas-container {
        width: 600px;
        display: inline-block;
        min-height: 600px;
    }
    
    .learning {
        flex: 1;
        display: inline-block;
    }
}